*{
    margin: 0;
    padding: 0;
}

.formulaire{   
    margin-top: 150px;
    border: 1px solid rgb(113, 140, 200);
    border-radius: 5px;   
    background-color: rgb(194, 250, 254);
}

.formulaire *{
    margin-top: 20px;
    margin-bottom: 20px;
}

.formulaire h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;
    color: brown;
    text-align: center;    
}

input{
    margin-left: 100px;    
    padding: 5px;
    width: 300px;
}

#btn{
    padding: 5px;
    background-color: aquamarine;
    margin-right: 100px;
}

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.affiche_nom{
    margin-top: 150px;
}